import React from 'react';
import './{{pascalCase name}}.scss'
interface {{pascalCase name}}Props {

}

class {{pascalCase name}} extends React.Component<{{pascalCase name}}Props> {
  render() {
    const {} = this.props;

    return (
      <main>
   
      </main>
    );
  }
}

export default {{pascalCase name}};