import React from 'react';
import './{{pascalCase name}}.scss'
interface {{pascalCase name}}Props {

}

class {{pascalCase name}} extends React.Component<{{pascalCase name}}Props> {

 constructor(props:any) {
    super(props);
  }
  render() {
    return (
      <main>
   
      </main>
    );
  }
}

export default {{pascalCase name}};